.students input {
	background: inherit;
	font-family: inherit;
	border: inherit;
	font-size: inherit;
	width: inherit;
}

.students .sub-header {
	color: #FFF;
	background: indigo;
}

.students table {
	width: 100%;
}

.add-student-header {
	font-size: 32px;
	padding: 20px;
}

.add-student-header svg {
	background: #456;
	padding: 10px;
	border-radius: 50%;
	color: #fff;
	margin-right: 10px;
}

.add-student-inputs {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.add-student-inputs input {
	padding: 10px 0;
	margin: 6px 0;
	font-family: inherit;
	font-size: inherit;
}

.add-student-buttons {
	background: #456;
}

.add-student-buttons button {
	color: #fff;
	background: inherit;
	border: none;
	height: 40px;
	width: 48px;
	font-size: 24px;
}

.add-student-buttons .save {
	background: #7c2ca1;
	border: none;
}

td {
	border-right: 1px solid #DDD;
	padding: 14px;
	background: #FAFAFA;
	font-size: 16px;
	vertical-align: middle;
	color: #444;
}

th {
	border-right: 1px solid #DDD;
	padding: 10px;
	font-weight: 700;
	font-size: 0.67em;
	width: 140px;
}



img {
	width: 46px;
	height: 46px;
	padding-right: 30px;
	vertical-align: middle;
}

.avatar-header {
	width: 10px;
}

.id-header {
	width: 10px;
}

.grades-header {
	width: 60px;
}

tr {
	color: #eee;
	background: #444;
}

.avatar {
	font-size: 32px;
	color: #444;
}

.color1 {
	background-color: #BA8BAF;
}
.color2 {
	background-color: #DC9656;
}
.color3 {
	background-color: #F7CA88;
}
.color4 {
	background-color: #A1B56C;
}
.color5 {
	background-color: #86C1B9;
}
.color6 {
	background-color: #7CAFC2;
}

.color-fg1 {
	color: #BA8BAF;
}
.color-fg2 {
	color: #DC9656;
}
.color-fg3 {
	color: #F7CA88;
}
.color-fg4 {
	color: #A1B56C;
}
.color-fg5 {
	color: #86C1B9;
}
.color-fg6 {
	color: #7CAFC2;
}