.add-student {
    background: #ddd;
    padding: 40px;
}

.add-student .header {
    font-size: 40px;
    color: #555;
}

.add-student .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}
.add-student label {
    padding: 20px 0;
    display: flex;
    flex-flow: column;
}