.courses-sub-menu {
    background: #09384C;
    flex: 0 0 200px;
    color: rgba(251, 251, 255, 0.50);
}

.courses-sub-menu .title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;

    height: 80px;
    padding: 0 20px;
}

.courses-sub-menu .item {
    font-weight: 500;
    
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 20px;

    cursor: pointer;
}

.courses-sub-menu .item.active {
    background: #061e29;
    padding-left: 17px;
    border-left: 3px solid #01BAEF;
}

.courses-sub-menu .item:hover {
    background: #061e29;
}

.courses-sub-menu .item .name {
    flex: 1 1 auto;
    color: rgba(251, 251, 255, 0.70);
}

.courses-sub-menu .subitem {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.courses-sub-menu .subitem:hover {
    font-weight: 700;
}