header {
    display: flex;
    align-items: center;
    background: #FBFBFF;
    height: 80px;

    /* position: absolute;
    width: 800px; */

    /* box-shadow: 0 0 10px #333; */
}



header .search-input {
    padding-left: 20px;
    flex: 1 1 auto;
    font-size: 40px;
    color: #b8b8b8;
}

header .search-input input {
    color: #666;
    font-family: inherit;
    font-size: 24px;
    background: inherit;
    border: none;
    width: 420px;
}

header .search-input input::placeholder {
    color: #b8b8b8;
}

header .search-input input:focus {
    outline: none;
    border-bottom: 2px solid #666;
}

header .search-results {
    background: #FBFBFF;
    border-radius: 6px;
    padding: 20px;
    width: 600px;
    position: absolute;
    margin-left: 40px;
    box-shadow: 0 0 10px #333;
}

header .category {
    color: #0B4F6C;
    font-weight: 500;
    font-size: 14px;
}

header .result {
    color: #666;
    padding: 6px 10px;
    cursor: pointer;
}

header .result.active {
    color: #666;
    font-weight: 500;
    background: #eee;
}

header .result:hover {
    color: #666;
    font-weight: 500;
}


header .right {
    flex: 0 0 140px;
}
