.left-menu {
    background: cadetblue;
    width: 180px;
}

.left-menu .item {
    padding: 20px;
}

.left-menu .item:hover {
    background: #63d4d8;
}

.left-menu .subitem {
    padding: 16px 26px;
    background: #4b6d6e;
}

.left-menu .item-desc {
    padding: 4px 24px;
    background: #222424;
    color: #FFF;
    font-size: 14px;
}