.left-menu {
    background: #0B4F6C;
    color: rgba(251, 251, 255, 0.70);
    user-select: none;
    height: 100%;
    flex: 0 0 80px
}

.left-menu .item {
    cursor: pointer;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
}
.left-menu .item.active {
    background: #09384C;
    border-left: 3px solid #01BAEF;
}
.left-menu .item:hover {
    background: #09384C;
}