.add-course {
    padding: 60px;
    position: absolute;
    background: #86C1B9;
    z-index: 110;
    border-radius: 10px;
}

.add-course h1 {
    margin: 0;
    margin-bottom: 20px;
}

.add-course .grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
}

.add-course label {
    font-weight: 600;
    padding-bottom: 4px;
}

.add-course input {
    border: none;
    background: #bbb;
    padding: 10px;
}

.add-course input:focus {
    background: #eee;
    outline: none;
}