@import "_header.css";
@import "_left-menu.css";
@import "_courses-sub-menu.css";
@import "_table.css";
@import "_courses-list.css";
@import "_course-students.css";
@import "_course-activities.css";


#root {
    height: 100%;
}
.app {
    display: flex;
    height: 100%;
}

main {
    flex: 1 1 auto;
}