.shadow {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 100px;
	z-index: 100;
}

.courses {
	display: flex;
	flex-flow: row wrap;
}

.course {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	margin: 20px;
	border-radius: 10px;
	font-weight: 300;
	font-size: 24px;
    width: 180px;
    height: 140px;
	transition: all 0.2s;
	border: 6px solid #BBB;
	cursor: pointer;
}

.course > div {
	text-align: center;
	line-height: 38px;
}

.course:hover {
	color: white;
	border: 6px solid #EEE;	
}

.color1 {
	background-color: #BA8BAF;
}
.color2 {
	background-color: #DC9656;
}
.color3 {
	background-color: #F7CA88;
}
.color4 {
	background-color: #A1B56C;
}
.color5 {
	background-color: #86C1B9;
}
.color6 {
	background-color: #7CAFC2;
}

.color7 {
	background-color: #DDD;
}