aside {
	--bg-color: #372f38;
	--fg-color: rgba(255, 255, 255, 0.5);
	--bg-color-hover: #5c4d5e;

	--bg-color-sec: #231f24;
	--fg-color-sec: rgba(255, 255, 255, 0.8);

	user-select: none;
	font-weight: 300;
    font-size: 1.1em;
    background: var(--bg-color);
}

aside > ul > li {
	padding: 16px;
	color: var(--fg-color);
	/* font-weight: 600; */
	transition: all 0.2s;
	cursor: pointer;
}

aside > ul > li:hover {
	background-color: var(--bg-color-hover);
}

aside > ul > ul > li {
	background: var(--bg-color-sec);
	box-shadow: inset 0 2px 5px #111;
	font-weight: 700;
	font-size: 14px;
	padding: 15px;
	padding-left: 30px;
	color: var(--fg-color-sec);
	transition: all 0.2s;
	cursor: pointer;
}

aside svg {
	padding: 0 16px 0 16px;
}