body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

#main-header {
	background: #23144D;
	font-size: 1.6em;
	font-weight: 300;
	color: #EEE;
	border-bottom: 3px solid #917CCF;
}

#user-login {
	font-size: 12px;
	text-align: right;
}

#main-sidebar {
	font-weight: 300;
	font-size: 1.1em;
}

#main-sidebar > ul > a > li {
	padding: 15px;
	border-top: 1px solid #BBB;
	color: #555;
	transition: all 0.2s;
}

#main-sidebar > ul > a >  li:hover {
	background-color: #CCC;
}

#main-sidebar > ul > li > a:visited {
	color: #555;
}

.fa {
	padding: 0 16px 0 16px;
}

td {
	border-right: 1px solid #DDD;
	padding: 14px;
	background: #FAFAFA;
	font-size: 0.8em;
	vertical-align: middle;
}

th {
	border-right: 1px solid #DDD;
	padding: 10px;
	font-weight: 700;
	font-size: 0.67em;
	width: 140px;
}

select {
	margin: 3px;
}

input {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	width: 80px;
	background: none;
	border: 1px solid rgba(0,0,0,0);
	font-size: 0.9em;
}

input:focus {
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #fff;
}

#courses-container {
	display: flex;
	flex-flow: row wrap;
	width: 850px;
	height: 260px;
}

.course {
	text-align: center;
	color: #333;
	margin: 40px;
	border-radius: 200px;
	font-weight: 300;
	font-size: 2em;
	padding: 40px 0 40px 0;
	width: 180px;
	line-height: 2;
	transition: all 0.2s;
	border: 6px solid #BBB;
}

.course:hover {
	color: white;
	border: 6px solid #EEE;	
}

#color1 {
	background-color: #BA8BAF;
}
#color2 {
	background-color: #DC9656;
}
#color3 {
	background-color: #F7CA88;
}
#color4 {
	background-color: #A1B56C;
}
#color5 {
	background-color: #86C1B9;
}
#color6 {
	background-color: #7CAFC2;
}

img {
	width: 46px;
	height: 46px;
	padding-right: 30px;
	vertical-align: middle;
}

#student-name {
	font-weight: 600;
}