/* Base16 Color */
@import "base16-styles/css-variables/base16-default-light.css";

/* Font */
.app {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

main {
    display: flex;
    height: calc(100% - 60px);
}

.main-container {
    overflow: auto;
}