/* Base16 Color */
/* @import "base16-styles/css-variables/base16-default-light.css"; */
/* @import "base16-styles/css-variables/base16-tomorrow.css"; */
/* @import "base16-styles/css-variables/base16-unikitty-light.css"; */
/* @import "base16-styles/css-variables/base16-mexico-light.css"; */
/* @import "base16-styles/css-variables/base16-harmonic16-light.css"; */
/* @import "base16-styles/css-variables/base16-grayscale-light.css"; */
@import "base16-styles/css-variables/base16-google-light.css";
/* @import "base16-styles/css-variables/base16-cupcake.css"; */
/* @import "base16-styles/css-variables/base16-atelier-estuary.css"; */


.app {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
main {
    display: flex;
    height: calc(100% - 60px);
}
.main-container {
    overflow: auto;
}
