/* @import "_header.css";
@import "_left-menu.css";
@import "_courses-sub-menu.css";
@import "_table.css";
@import "_courses-list.css";
@import "_course-students.css";
@import "_course-activities.css";
@import "_students-list.css";
@import "_add-student.css"; */

html, body, #root, .app {
    height: 100%;
    margin: 0;
}
a {
    color: inherit;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

main {
    display: flex;
    height: calc(100% - 60px);
}

.main-container {
    overflow: auto;
}