aside {
	flex: 0 0 260px;
	user-select: none;
}

aside {
	font-weight: 300;
    font-size: 1.1em;
    background: #ebebeb;
}

aside > ul > li {
	padding: 15px;
	color: #555;
	transition: all 0.2s;
	cursor: pointer;
}

aside > ul > li:hover {
	background-color: #CCC;
	font-weight: 600;
}

aside > ul > li > a:visited {
	color: #555;
}

aside svg {
	padding: 0 16px 0 16px;
}