.course-students {
    flex: 1 1 auto;
}

.course-students .head {
    font-weight: 500;
    color: rgba(251,251,255,0.50);
    background: linear-gradient(0deg, #515151 0%, #757575 100%);

    display: flex;
    align-items: center;
    height: 40px;
}

.course-students .head .id {
    flex: 0 0 60px;
    margin-left: 20px;
}

.course-students .head .name {
    flex: 1 1 auto;
}

.course-students .student {
    display: flex;
    padding: 16px 0;
    font-size: 18px;
    color: #757575;
}

.course-students .student:nth-child(even) {
    background: #FBFBFF
}

.course-students .student .id {
    flex: 0 0 60px;
    margin-left: 20px;
}

.course-students .student .name {
    flex: 1 1 auto;
}